.wrapper {
    height: 100%;
    position: relative;
    margin: 0;
    min-height: 42px;
}

.container-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    height: 78px;
    width: 100%;
    margin: auto;
    /* Kích thước này không phù hợp cho viewport nhỏ hơn 1460px */
}

.header-content {
    position: relative;
    margin: auto;
    min-height: 42px;
    height: 100%;
    width: 83.45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgLogo {
    width: 170px;
    height: 33px;
}

.selectLocal {
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 4px;
    position: relative;
    padding: 0;
    margin-left: 80px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-user {
    position: relative;
    display: inline-block;
    width: 250px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    border: 1px solid rgba(92, 88, 88, 0.168);
    border-radius: 2px;
    padding: 12px 0;
    z-index: 1;
    margin: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.dropdown-content.show {
    display: block;
}

.dropdown-item:hover {
    background-color: #99909058;
}

.dropdown-content-user {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    border: 1px solid rgba(92, 88, 88, 0.168);
    border-radius: 5px;
    padding: 0;
    z-index: 1;
    margin: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.dropdown-content-user.show {
    display: block;
}

.dropdown-content-user .dropdown-item-user:hover {
    background-color: #cfbcbc24;
    color: #333;
}

.dropdown-toggle {
    color: #252525;
    border: 0;
    padding: 10px 27px 10px 19px;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 5px;
}

.dropdown-toggle-user {
    color: #252525;
    border: 0;
    padding: 10px 27px 10px 19px;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 36px;
    margin: auto;
}

.dropdown-toggle-user:hover+.dropdown-content-user,
.dropdown-content-user:hover {
    display: block;
}

.dropdown-toggle::after {
    margin-left: 10px;
    color: #00000050;
}

.dropdown-item {
    border-bottom: 1px solid #c2c2c2;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
}

.dropdown-item-user {
    border-bottom: 1px solid #c2c2c2;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    color: #252525;
    min-height: 50px;
}

.nav-item {
    color: #252525;
    padding: 10px 12px;
    font-size: 15.32px;
    font-family: Noto Sans, Arial, sans-serif;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    font-size: inherit;
}

.nav-item:hover {
    color: rebeccapurple;
}

.main-nav {
    padding-left: 48px;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow: hidden;
}

.img {
    float: left;
}

.img img {
    border: 1px solid #d7d7d7;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.img-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
